In [1]:
import pandas as pd

In [2]:
import sqlite3 as sp3

In [20]:
path = '/Users/amithnp/Desktop/IBM/baseball.db' 
con = sp3.Connection(path)
query = """
         SELECT * 
         FROM allstarfull;
        """
observations = pd.read_sql_query(query, con)
observations.head()
all_tables = pd.read_sql_query("SELECT * FROM sqlite_master", con)
print(all_tables)
best_query = """
SELECT playerID, sum(GP) AS num_games_played, AVG(startingPos) AS avg_starting_position
    FROM allstarfull
    GROUP BY playerID
    ORDER BY num_games_played DESC, avg_starting_position ASC
    LIMIT 3
"""
best = pd.read_sql(best_query, con)
print(best.head())

    type                  name     tbl_name  rootpage  \
0  table           allstarfull  allstarfull         2
1  index  ix_allstarfull_index  allstarfull         3
2  table               schools      schools        26
3  index      ix_schools_index      schools        31
4  table               batting      batting        99
5  index      ix_batting_index      batting       100

                                                 sql
0  CREATE TABLE "allstarfull" (\n"index" INTEGER,...
1  CREATE INDEX "ix_allstarfull_index"ON "allstar...
2  CREATE TABLE "schools" (\n"index" INTEGER,\n  ...
3  CREATE INDEX "ix_schools_index"ON "schools" ("...
4  CREATE TABLE "batting" (\n"index" INTEGER,\n  ...
5  CREATE INDEX "ix_batting_index"ON "batting" ("...
    playerID  num_games_played  avg_starting_position
0  musiast01              24.0               6.357143
1   mayswi01              24.0               8.000000
2  aaronha01              24.0               8.470588